body{
    background-image:url('../Images/bg2.jpg');
    background-position: center;
}
/********* This style applys to all Buttons and Input forms ******/
button,input {
    border-radius:10px;
}
.header {
    overflow: hidden;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 5px;
    display: flex;
    
}

.header a {
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    color: #1abc9c;
    /*background-color: rgb(61, 185, 108);*/
    border-radius: 19px;
}
.header-right {
    float: right;
}