
.single-post-section{
  padding: 3em 5em;
  margin: 0 0 15px 0;
  border-radius: 8px;
}

.post-publish-date{
  color: gray;
  font-size: 1.5em;
  font-family: 'Inconsolata', monospace;
}

.page-wrap{
  max-width: 1000px;
  padding: 20px;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
}

.content-bg{
  background-color: white;
}

.single-post-section h1{
font-family: 'Bowlby One SC', cursive;
}

.single-post-section h1 a{
  color: black;
}

.avatar-img{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.single-post-section h1 a:link {
  text-decoration: none;
}

.single-post-section h1 a:hover{
  color: black;
}
.main-div {
  color: black;
  margin: 0 0 0 0;
}

.search-input{
  width: 90%;
  overflow: auto;
}

.mega-header {
  color:white;
  padding: 125px 25px;
}

.blog-main-haader {
  background-size: cover;
  background-position: center;
}

.blog-main-header h1{
  font-family: 'Sigmar One', cursive;
  font-size: 5rem;
}

.blog-main-header p{
  font-family: 'McLaren', cursive;
  font-size: 1.8rem;
}
