/***************** Image page classes *********************/
.IP-h1-tag {
    color:whitesmoke;
    font-family: 'Satisfy', cursive;
}
#size-image {
    width:600px; 
    height:600px;
    border:10px;
    border-color: rgb(190, 162, 162);
    border-style: solid;
    border-radius: 20%;
}


