{% extends "Blog/base.html" %}

{% block body_block %}
<div class="row ">

  <div class="col-xs-2"></div>

  <div class="col-xs-8">
    <h2 style="text-align: left; "class="posttitle">{{post_detail.title}}</h2>
    {% if post_detail.published_date %}
      <span class="commentusername">posted by {{ post_detail.author}} - {{post_detail.published_date|date:"D M Y"}}</span>
    {% else %}
      <a class="btn btn-warning" href="{% url 'Blog:Post_Publish_Page' pk=post_detail.pk %}">Publish</a>
    {% endif %}

    <div class="postcontent">
      <hr>
      <p >{{post_detail.text|safe|linebreaksbr}}</p>
    </div>
    <div class="edit remove">
      {% if user.is_authenticated %}
        <a class="btn btn-warning" href="{% url 'Blog:Post_Update_Page' pk=post_detail.pk %}">Edit<!--<span class="glyphicon glyphicon-pencil"></span>--></a>
        <a class="btn btn-warning" href="{% url 'Blog:Post_Delete_Page' pk=post_detail.pk %}">Remove</a>
      {% endif%}
    </div>

    <hr>

    <div class="row">
      <div class="col-10">
        {% for comment in post_detail.comments.all %}

          {% if user.is_authenticated or comment.approved_comment %}

              {% if comment.approved_comment %}
              <div class="comments">
                <span class="commentusername">{{ comment.author }}</span>
                -
                <span>{{ comment.created_date }}</span>
                <br><br>
                <p id="commentcontent11" >{{ comment.text|safe|linebreaksbr}}</p>
                <br>
              </div>
              {% endif %}

              {% if not comment.approved_comment %}
              <div class="comments">
                <span class="commentusername">{{ comment.author }}</span>
                -
                <span>{{ comment.created_date }}</span>
                <!-- Buttons for approving and deleting comments .  -->
                <a class="btn btn-secondary" href="{% url 'Blog:Comment_Approve_Page' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                <a class="btn btn-danger" href="{% url 'Blog:Comment_Delete_Page' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <br><br>
                <p id="commentcontent11" >{{ comment.text|safe|linebreaksbr}}</p>
                <br><br>
              </div>
              {% endif%}
          {% endif%}
        {% empty %}
          <p>No Comments</p>
        {% endfor %}
      </div>
      <div class="col-2">
        <a class="btn btn-secondary navbar-right" href="{% url 'Blog:Comment_Add_Page' pk=post_detail.pk %}">Add Comment</a>

      </div>
    </div>
  </div>

  <div class="col-xs-2"></div>

</div>
{% endblock %}
