{% extends "Blog/base.html" %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'Blog/CSS/Plot_ListView_CSS.css'%}">
<div >
  <!-- style="margin-left:10em;" align="left" -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'Blog:Post_List_Page'%}">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">...</a>
    </li>
  </ul>
  <br>
  <form class="" action="#" method="GET">
    <input name="q" value = "{{request.GET.q}}" placeholder="Search.." type="text" class="form-control" aria-label="Text input with segmented dropdown button">
  </form>
  <hr>
  {% for post in post_list reversed %}
  <div>
    <br>
    <div class="row">
      <div class="col-1">
        {% if post.author.photo %}
        <img class="img-fluid rounded-circle " src="{{post.author.photo.url}}" alt="...">
        {% else %}
          <span>No Picture</span>
        {% endif %}
      </div>
      <div class="col-10 ">
        <div class="row">
          {% if user.is_authenticated %}
          <span><a href="{% url 'stage:Profile' pk=post.author.pk%}">{{post.author}}</a></span>
          {% else %}
          <span>{{post.author}}</span>
          {% endif %}
        </div>
        <div class="row">
          <span>Published On: {{post.published_date|date:"D M Y"}}</span>
        </div>
      </div>
    </div>
    <h3><a href="{% url 'Blog:Post_Detail_Page' pk=post.pk %}">{{post.title}}</a></h3>
    <br>
    <span>Likes {{post.star}}</span>
    <span> Comments {{ post.count_checked_task.count}}</span>
    <hr>
  </div>
    <div>

      <!-- <div class="card-header">by @{{ post.author }}</div>
      <div class="card-body">
        <h3 class="card-title"><a href="{% url 'Blog:Post_Detail_Page' pk=post.pk %}">{{post.title}}</a></h3>
        {% if post.published_date %}
        <p class="card-text" >Published On: {{post.published_date|date:"D M Y"}}</p>
        {% endif%}
        <a class="btn btn-primary" href="{% url 'Blog:Post_Detail_Page' pk=post.pk %}">Comments: {{ post.approved_comments.count}}</a>
      </div> -->
    </div>
  {% empty %}
      No Posts
  {% endfor %}
</div>



{% endblock %}
