{% extends 'html/base.html' %}
{% load static %}
{% block content %}

<div>
        <h4 style="color:whitesmoke;" >
                This web application was created using a free and open-source web framework 
                called <a href="https://tutorial.djangogirls.org/en/"><i>Django</i></a> which is written in python.<br>
        </h4>
        <strong style="color:whitesmoke;" >The site:</strong><br>
        <ul style="color:whitesmoke;" style="list-style-type: disc">
                <li>Users can create accounts</li><br>
                <li>Users can Search and Create blogs</li>
        </ul>
        <center>
        <h4 style="font-family:monospace; font-size:30px;">Developer</h4>
        <img class="size-image" src=" {% static 'Images/spil.png' %}" atl= "Error">
        </center>
</div>
        
{% endblock content %}
