{% extends 'html/base.html' %}
{% load static %}
{% block content %}

<div>
        <h4 >
                This web application was created using a free and open-source web framework 
                called <a href="https://tutorial.djangogirls.org/en/"><i>Django</i></a> which is written in python.<br>
        </h4>
        <p>The site ( # Still in progress ):</p><br>
        <ul style="list-style-type: disc">
                <li><h5>Users can create accounts</h5></li>
                <li><h5>Users can Search and Create blogs</h5></li>
        </ul>
        <center>
        <h4 style="font-family:monospace; font-size:30px;">Developer</h4>
        <img class="size-image" src=" {% static 'Images/spil.png' %}" atl= "Error">
        </center>
</div>
        
{% endblock content %}
