{% extends 'html/base.html' %}

{% block content %}

	<dev id = "MIDDLE">
                <h3 style = "size:1px">
                     This web application was created using free and open-source web fremework,
                    written in python. The name of it is <i>Django</i>.<br>
                    The site:<br>
                    1. Users can create accounts<br>
                    2. Users can Search and Create blogs<br>
                </h3>
        </dev>
        
{% endblock content %}
