
{% load static %}
<!DOCTYPE html>
<html lang="en-US"\>
<html>
    
    <head>
        <!--Bootstrap / CSS code that make things pretty lol -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href='{% static "CSS/base.css" %}'>
        <title>Home Page</title>
        
        
    </head>

    <body>

        <!--<center>
            <h4 style="color:whitesmoke">Logo Image</h4>
        </center>-->
        <dev class = "Menu"> <!-- This portion contains the Menu Bar   -->
            <ul class="Nav_Bar">
                <li>
                    <a class="image-1" href = "/"><img src= '{% static "Images/icon.png" %}' atl = "My ICON" width= 30px height = 30px/></a>
                </li> 
                <li>
                        <input type="text" value="" placeholder="Search" spellcheck="true" 
                        name="q" class="form-control header-search-input jump-to-field js-jump-to-field js-site-search-focus "cel
                        />
                    </li> 
                <li>
                    <a href= "/About/">About</a>
                </li>
                <li>
                    <a href = "/Login/">Log In</a>
                </li>
                <li>
                    <a href = "/Signup/">Sign Up</a>
                </li>
                
            </ul>
        </dev>
        {% block content %}
            replace me
        {% endblock content %}

    </body>
</html>
