
{% load static %}
<!DOCTYPE html>
<html lang="en-US"\>
<html>
    
    <head>
        <!-- External Css Library -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">
        <!-- My Css Sytlesheet -->
        <link rel="stylesheet" href='{% static "CSS/base.css" %}'>
        <link rel="stylesheet" href='{% static "CSS/index-page.css" %}'>
        <link rel="stylesheet" href='{% static "CSS/signup-page.css" %}'>
        <link rel="stylesheet" href='{% static "CSS/login-page.css" %}'>
        <link rel="stylesheet" href='{% static "CSS/about-page.css" %}'>
        <title>Spil3141</title>
    </head>

    <body>
        <div class="header">
            <nav>
                <ul>
                    <li>
                        <a href = "/"><img src= '{% static "Images/logo.png" %}' atl = "My ICON" width= 150px height = 25px/></a>  
                    </li> <!-- Logo -->
                    <li>
                        <form>
                            <input type="text" value="" placeholder="Search" spellcheck="true" 
                                name="q" class="form-control"cel/>
                        </form>
                    </li> <!-- Search -->
                    <li>
                        <div class="trigger">
                            <a href="#">Products</a>
                            <div class="dropdown">
                                <ul style="padding-left:16px;">
                                    <li>
                                        <a style="font-family:monospace;" href="/Apps/"><span style="font-size:12px;">apps</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li> <!-- Products -->
                    <li>
                        <div class="trigger">
                                <a href="#">About</a>
                            <div class="dropdown">
                                <ul style="padding-left:3px;">
                                    <li>
                                        <a style="font-family:monospace;" href="/About/"><span style="font-size:12px;">Developer</span></a>
                                    </li>
                                    <li>
                                        <a style="font-family:monospace;" href="/Donate/"><span style="font-size:12px;">Donate</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li> <!-- About -->
                    <li>
                        <a href="/Blog/">Blogs</a>
                    </li> <!-- Blogs -->
                </ul>
            </nav>
            <div class="login">
                <a href = "/Login/">Log In</a>
            </div>
        </div>
        {% block content %}
            replace me
        {% endblock content %}

    </body>
</html>