{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://js.braintreegateway.com/web/dropin/1.14.1/js/dropin.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
  </head>

  <body>



    <div class="container" align="center">
      <div class="">

          <form  action="." method="post"> {% csrf_token %}
            <label for="amount">Amount</label><br>
            <input type="text" name="amount" placeholder="$1.00"><br>
            <div id="dropin-container"></div>
            <h1 id="here">me</h1>
            <button class="btn btn-primary" id="submit-button">Request payment method</button>
          </form>
        </div>
    </div>


    <script>
    var button = document.querySelector('#submit-button');
    var client_nonce = document.querySelector("#here")
    braintree.dropin.create({
      authorization: "{{CLIENT_TOKEN_FROM_SERVER}}",
      container: '#dropin-container'
    }, function (createErr, instance) {
      button.addEventListener('click', function () {
        instance.requestPaymentMethod(function (err, payload) {
          // Submit payload.nonce to your server
          //alert(payload.nonce)
        });
      });
    });
  </script>
  </body>
</html>




<!-- <center>
    <img src='{% static "Images/comingsoon.png" %}' alt="ERROR">
</center> -->
