{% extends "detector/base.html" %}
{% block content %}
<div class="jumbotron" align = "center">
  <h2>From the <a href="https://github.com/spil3141/siteX_Basic_Image_Classifier/tree/master/Test_Images">Test Images</a> choose and upload an image.</h2>
  <hr>
  <h4>The uploaded image will be resize and preprocess. After the data preprocessing stage the sample
    will be given to a Trained <a href="https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html#sklearn-svm-svc">Support Vector Classifier</a> to predict its class/label. </h4>
  <p>The site is a basic Web Application that uses machine learning(Supervised Learning - Classification)<br>  and the Django Web Framework to classify images of digits(8x8 resolution). </p>
</div>
{% endblock %}
