{% extends "hal_il/base.html" %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <div style="color:black;">
      <h3>New Task</h3>
      <hr>
      <form method="post">
        <div class="row">
          <div class="col">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
          <div class="col-2">
            <input class="btn btn-primary" type="submit" value="Save">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
