html,
body {
  font-family: Arial, sans-serif;
  background-color:rgb(209, 241, 231);
}
.Menu ul {
    margin-left: auto;
    margin-right: auto;
    padding-top:16px;
    padding-bottom:16px;
    background-color: rgb(13, 36, 10);
}
.Nav_Bar {
    list-style-type: none!important;
    display:flex!important;
}
.image-1{
    margin-left:90px;
}
li {
    padding-right:16px;
}
li a {
    color:whitesmoke;
    font-weight: 600!important;
}
li a:hover {
    color:rgb(171, 182, 170);
    text-decoration: none;
}

