html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-image:url("../Images/bg.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Lobster, monospace;
}
h1,h2,h3,h4,h5,h6 {
    color:whitesmoke;
}
p {
    color:whitesmoke;
}
.header {
    overflow: hidden;
    background-color: #000000;
    padding: 10px 5px;
    display: flex;
  }
  
  .header a {
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: rgb(61, 185, 108);
    border-radius: 19px;
  }
  
  .header-right {
    float: right;
  }
  .text-color {
      color:Black;
  }
  button,input {
    border-radius:10px;
  }




/*
.Menu ul {
    margin-left: auto;
    margin-right: auto;
    padding-top:16px;
    padding-bottom:16px;
    background-color: rgb(9, 5, 61);
}
.Nav_Bar {
    list-style-type: none!important;
    display:flex!important;
}
.image-1{
    margin-left:90px;
}
li {
    padding-right:16px;
}
li a {
    font-weight: 600!important;
}
li a:hover {
    color:rgb(171, 182, 170);
    text-decoration: none;
}

*/
/********************/