@charset "UTF-8";

* {
    
}
.body {
    background:rgb(210, 228, 210);
    font-family: "Verdana";
}

.menu_bar {
    background-color:rgb(51, 51, 51);
}
/*


.Header {
    display:flex!important;
    align-items: center;
    text-align: center;
}

.logo img {
    width:34px;
    height: 38px;
}
.about a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.login_signup_search_header {
    display: flex!important;
    float:right;
}

.search form {
    display:flex!important;
}


.login_signup {
    margin:0px;
    padding:0px;
    border:0px;
}
.login_signup a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

*/