.body {
    background:rgb(210, 228, 210);
}

.menu_bar {
    width: 1280px;
    height: 80px;
    /*background-color: rgb(51, 51, 51);
    */
    background-color:white;
    display:flex!important;
}

.logo {
    margin-left: 40px;
    margin-right:75%;
}
.search{
    color: #111111;
    margin-right:20px;
}


.login_signup {
    margin:0px;
    padding:0px;
    border:10px;
}

.login_signup nav:a:hover {
    background-color:white;
}

