.menu_bar {
    color: white;
    /*text-align: center;*/
    padding: 16px;
    background-color: #111111;
}
.login_signup {
    /*background-color: aliceblue;*/
    display: inline-block;
    padding: 4px;
    float: right;
    
}
.search{
    display: inline-block;
    /*background-color: aliceblue;*/
    color: #111111;
    padding:5px;
}
.logo {
    display: inline-block;
    padding:0px;
}
.body {
    background:rgb(210, 228, 210);
}
