
{% load static %}
<!DOCTYPE html>
<html lang="en-US"\>
<html>
    <head>
        <title>SiteX</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">

        <!-- Adding the Favicon -->
        <link rel="ICON" href="{% static 'stage/Images/favicon.ico' %}" >

        <!-- Bootscrap  -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


        <!-- My Css Sytlesheet -->
        <link rel="stylesheet" href='{% static "stage/CSS/base-template.css" %}'>
        <link rel="stylesheet" href='{% static "stage/CSS/indexpage.css" %}'>
        <link rel="stylesheet" href='{% static "stage/CSS/signuppage.css" %}'>
        <link rel="stylesheet" href='{% static "stage/CSS/loginpage.css" %}'>
        <link rel="stylesheet" href='{% static "stage/CSS/aboutpage.css" %}'>


    </head>


    <body class="bg font-dark">

      <nav  class="navbar navbar-expand-lg navbar-dark bg-transparent font-design">
        <div class="container">
          <img class="navbar-brand" style=" width:1em; height:2em;"src= '{% static "stage/Images/icon.png" %}' alt = "My ICON"/>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'stage:Main_Page'%}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'Blog:Main_Page'%}">Blog</a>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Products
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'stage:App_Page'%}">Android Apps</a>
                  <a class="dropdown-item" href="{% url 'detector:Main_Page' %}">ML CLassifier 1.0</a>
                  <a class="dropdown-item" href="{% url 'helper:Main_Page'%}">KWMH</a>
                  <!-- test_pass is a context Variable assign in the stage app views.py file to check for a specific user -->
                  {% if test_pass %}
                    <a class="dropdown-item" href="{% url 'CCTV:CCTV_Page'%}">CCTV Feed</a>
                  {% endif %}
                </div>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="https://truelovefoundation7.wixsite.com/spil3141">Developer</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/Donate/">Donate</a>
                </div>
              </li>
            </ul>
            {% if not user.is_authenticated %}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a style="text-decoration: none;" href = "{% url 'Login_Page' %}">Log In</a></button>
            {% else %}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a style="text-decoration: none;" href = "{% url 'Logout_Page' %}">Logout</a></button>
            {% endif %}
          </div>
          </div>
      </nav>


      {% block content %}
          replace me
      {% endblock content %}

        <!-- Optional JavaScript CND -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
     <!-- Local Files  -->
     <!-- <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
     <script src="{% static "JS/ColorChanger.js" %}"></script>
    </body>
</html>
