{% extends "stage/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href='{% static "stage/CSS/Donate.css" %}'>

<!-- ################################################################ -->
<div class="donation-container">
    <div class="donation-box">
      <div class="title">Donation Information</div>

      <div class="fields">
        <input type="text" id="firstName" placeholder="First Name"> </input>
        <input type="text" id="lastName" placeholder="Last Name"> </input>
        <input type="text" id="email" placeholder="Email"> </input>
      </div>

      <div class="amount">
        <!-- <div class="button">$30</div>
        <div class="button">$50</div>
        <div class="button">$100</div> -->
        <div class="button">$<input type="text" id="amount" class="set-amount" placeholder="0.00"> </input></div>
        <!-- <button id="btn" type="button" name="button">Click</button> -->
      </div>

      <div class="donate-button"></div>

    </div>

</div>
<!-- ################################################################# -->

<!-- Paypal Javascrip Library-->
<script src="https://www.paypal.com/sdk/js?client-id=AeEOOWCQIFwnAGWyLMtcUsGS7dAyRPpUpXnAekoBwX4z6IL2-cuQrbhP0TgxZosNLD4puzxc0FZIvlmO"></script>


<!-- <script type="text/javascript">
  var btn = document.querySelector("#btn");
  btn.addEventListener("click",on_clicked);
  function on_clicked(){
    console.log("Clicked");
    $.ajax({
      url:"{% url 'stage:on_sucessful_payment'%}",
      type:"GET",
      data:{
        "data":"hello",
        'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val(),
      }
    });
  }
</script> -->

<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      var amount = window.document.getElementById("amount").value;
      // console.log(comment);
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: amount
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        var first_name = window.document.getElementById("firstName").value;
        var last_name = window.document.getElementById("lastName").value;
        var email = window.document.getElementById("email").value;
        // var comment = window.document.getElementById("comment").value;
        // console.log(first_name);
        // console.log(last_name);
        // console.log(email);
        $.ajax({
          url:"{% url 'stage:on_sucessful_payment'%}",
          type:"GET",
          data:{
            "first_name":first_name,
            "last_name":last_name,
            "email": email,
            // 'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()
          }
        });
        alert('Transaction completed by ' + details.payer.name.given_name);
        // Call your server to save the transaction
        // return fetch('/static/stage/success.html', {
        //   method: 'post',
        //   headers: {
        //     'content-type': 'application/json'
        //   },
        //   body: JSON.stringify({
        //     orderID: data.orderID,
        //     'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()
        //   })
        // });
      });
    }
  }).render('.donate-button');
</script>
<!-- <script>
  paypal.Buttons({
    createOrder: function(data,actions){
      return actions.order.create({
        purchase_units:[{
          amount:{
            value: "0.01"
          }
        }]
      })
    },
    onApprove: function(data, actions) {
      // Capture the funds from the transaction
      return actions.order.capture().then(function(details) {
        // Show a success message to your buyer
        alert('Transaction completed by ' + details.payer.name.given_name);
        // Call your server to save the transaction
        return fetch('/paypal-transaction-complete', {
          method: 'post',
          headers: {
            'content-type': 'application/json'
          },
          body: JSON.stringify({
            orderID: data.orderID,
            'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()
          })
      });
    }
  }).render('.paypal');
</script> -->
{% endblock content %}


<!-- {% load static %} -->
<!-- <center>
    <img src='{% static "stage/Images/comingsoon.png" %}' alt="ERROR">
</center> -->
