{% extends 'stage/base.html' %}
{% load static %}
{% block content %}

<style media="screen">
  .img-fluid{
    wigth:15em;
    height:15em;
    /* background:white; */
  }
  body{
    background-color: rgba(0,0,0, 0.5);
  }
</style>

<div class="container" >
  <br><br>
  <div class="row">
    <div class="col-lg-4">
      <!-- <img class="img-fluid rounded mx-auto d-block" wigth="200em" height="200em" src="{% static 'stage/Images/Cyborg.png'%}" alt="Error Loading"> -->
    </div>
    <div class="col-lg-4">
      <br><br><br><br>
      <h2 class="" align="center">LiberateOverload</h2>
      <p align="center">Makers of SpinOn.</p>
    </div>
    <div class="col-lg-4">
      <!-- <img class="img-fluid rounded mx-auto d-block"  wigth="200em" height="200em" src="{% static 'stage/Images/Pictures of Assets from LiberateOverload.png'%}" alt="Error Loading"> -->
    </div>
  </div>
  <div class="gallery">
    <div class="row">
      <div class="col-lg-4">
        <img class="img-fluid rounded mx-auto d-block" wigth="200em" height="200em" src="{% static 'stage/Images/Cyborg.png'%}" alt="Error Loading">

      </div>
      <div class="col-lg-4">
        <img class="img-fluid rounded mx-auto d-block" wigth="200em" height="200em" src="{% static 'stage/Images/Steve.png'%}" alt="Error Loading">

      </div>
      <div class="col-lg-4">
        <img class="img-fluid rounded mx-auto d-block" wigth="200em" height="200em" src="{% static 'stage/Images/Pictures of Assets from LiberateOverload.png'%}" alt="Error Loading">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <img class="img-fluid rounded mx-auto d-block" wigth="200em" height="200em" src="{% static 'stage/Images/slide1.png'%}" alt="Error Loading">
      </div>
    </div>
  </div>
</div>


{% endblock content %}
