{% extends 'stage/base.html' %}
{% load static %}
{% block content %}

<style media="screen">
  .img-fluid{
    wigth:15em;
    height:15em;
    /* background:white; */
  }
  body {
    background-color: #181818;
    color:white;
  }
</style>
<br><br>
<div class="container" >
  <div class="col" align="center">
    <img src="{% static 'stage/Images/Liberate Overload Logo.png'%}" class="img-fluid" alt="Responsive image">
  </div>
  <!-- <br><br> -->
  <div class="row">
    <div class="col-lg-4">
      <!-- <img class="img-fluid rounded mx-auto d-block" wigth="200em" height="200em" src="{% static 'stage/Images/Cyborg.png'%}" alt="Error Loading"> -->
    </div>
    <div class="col-lg-4">
      <br><br>
      <!-- <h2 class="" align="center">Liberate Overload</h2> -->
      <p style="font-size:1.7em; font-family: 'Inconsolata', monospace;
"align="center">Makers of Calculator by nOOb and SpinOn.</p>
    </div>
    <div class="col-lg-4">
      <!-- <img class="img-fluid rounded mx-auto d-block"  wigth="200em" height="200em" src="{% static 'stage/Images/Pictures of Assets from LiberateOverload.png'%}" alt="Error Loading"> -->
    </div>
  </div>
  <div class="gallery">
    <div class="row">
      <div class="col-lg">
        <img class="img-fluid rounded mx-auto d-block" wigth="200em" height="200em" src="{% static 'stage/Images/Cyborg.png'%}" alt="Error Loading">

      </div>
      <!-- <div class="col-lg-4">
        <img class="img-fluid rounded mx-auto d-block" wigth="200em" height="200em" src="{% static 'stage/Images/Steve.png'%}" alt="Error Loading">

      </div> -->
      <div class="col-lg">
        <img class="img-fluid rounded mx-auto d-block" wigth="200em" height="200em" src="{% static 'stage/Images/Pictures of Assets from LiberateOverload.png'%}" alt="Error Loading">
      </div>
    </div>
    <br>
    <!-- <div class="row">
      <div class="col">
        <img class="img-fluid rounded mx-auto d-block" wigth="200em" height="200em" src="{% static 'stage/Images/slide1.png'%}" alt="Error Loading">
      </div> -->
    </div>
  </div>
</div>


{% endblock content %}
