{% extends "html/Blog.html" %}
{% load static %}

{% block Blogs %}
<div class="container">
  <h1>Table of Contents</h1>
  <div class="jumbotron">
    <ul class="list-unstyled">

    <li class="media">
      <img class="mr-3" src="{% static 'Images/machinelearning.jpg' %}" width=80px height = 80px alt="Generic placeholder image">
      <div class="media-body">
        <h4 class="mt-0 mb-1"><a href="/Article_1/">Machine Learning Quick Guide</a></h4>
          we will be learning about Machine Learning. Here are someone the topics we will be going over.
          <h5>Data Preprocessing</h5>
          <ol type="a">
            <li>Defining Dataset</li>
            <li>Importing the Libraries</li>
            <li>Importing the Dataset</li>
            <li>Missing Data</li>
            <li>Catagorical Data</li>
            <li>Splitting up the Dataset into Training set and Testing set</li>
            <li>Features Scaling</li>
      </div>
    </li>

    <li class="media my-4">
      <img class="mr-3" src="{% static 'Images/discretemathematicslogo.jpg' %}" width=80px height = 80px alt="Generic placeholder image">
      <div class="media-body">
        <h4 class="mt-0 mb-1">Discrete Mathematics</h4>
          You will get to Learn about Discrete Mathmatics by learning about Relations, Trees, Graphs, and Boolean Algebra.
      </div>
    </li>

    <li class="media">
      <img class="mr-3" src="{% static 'Images/webdevelopment.png' %}" width=80px height = 80px alt="Generic placeholder image">
      <div class="media-body">
        <h4 class="mt-0 mb-1">Web Development Full Stack </h4>
          In this tutorial you will get to learn about Web Development the Full Stack. You will learn about  with Bootstrap(Front-End) and Django(Back-End).
          The Front-End will include HTML, CSS , Bootstrap and JavaScript while the Back-end will be about Django and Python.
      </div>
    </li>
    </ul>
  </div>
</div>


{% endblock Blogs %}
